/* add your CSS here */

.outer-container {
	display: flex;
	justify-content: space-between;
	align-content: space-around;
	flex-wrap: wrap;
}

.card {
	width: 300px;
	border: 3px solid black;
	padding: 12px;
	margin: 9px;
	box-shadow: -5px -3px 2px gray;
	flex: 0 0 auto;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	margin: 9px;
	font-size: .8em;
}

h3 {
	margin: 6px;
	font-family: Times, "Times New Roman", Georgia, serif;
	text-align: center;
	font-size: 1em;
}
.card-text {
	border: 1px dotted gray;
	padding: 6px;

}
.quick-fact {
	font-style: italic;
}

.fact-labels {
	font-weight: bold;
	font-size: 0.85em;
}

ul {
	list-style-type: none;
	margin: 9px;
	padding-left: 0px;
}

li {
	font-size: 0.8em;
}

img {
	width: 300px;
}
.card.blackbear {
	color: lightgray;
	background-color: black;
	border-color: red;
}

.card.sunbear {
	color: black;
	background-color: gold;
	border-color: green;
}

.card.moonbear {
	color: black;
	background-color: silver;
	border-color: blue;
}

.card.slothbear {
	color: black;
	background-color: green;
	border-color: red;
}

.card.andeanbear {
	color: white;
	background-color: blue;
	border-color: gray;
}

.card.brownbear
{
	color: white;
	background-color: #311432;
	border-color: red;

}

.card.panda {
	color: black;
	background-color: red;
	border-color: white;
}

.card.polarbear {
	color: darkgray;
	background-color: white;
	border-color: black;
}
